<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
    </style>

    <script type="text/javascript">

        $(function () {
            $("#eartag").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: 'http://powell-home.com:5000/animal',
                        type: 'GET',
                        autoFocus: true,
                        dataType: 'jsonp',
                        data: {ear_tag: request.term},
                        success: function (data) {
                            if (!data)
                                return;
                            response($.map(data, function (animals) {
                                var ear_tags = [];
                                $.each(animals, function (idx, animal) {
                                    ear_tags[idx] = animal.ear_tag;
                                });
                                return ear_tags;
                            }));
                        }
                    });
                },
                minLength: 3
            });
            $('a#process_eartag').bind('click', function () {
                $.getJSON('/_eartag_datails', {
                    eartag: $('input[name="eartag"]').val(),
                }, function (data) {
                    $.map(data, function (animals) {
                        $("#calftbl tr").remove();
                        $("#parenttbl tr").remove();
                        var calfs = "<table id='calftbl' class='table'>";
                        var parents = "<table id='parenttbl'>";
                        $.each(animals, function (idx, animal) {
                            if (animal.off_type != "CALF") {
                                parents += '<tr><th style="text-align:left">' + animal.off_type + '</th>';
                                parents += '<th style="text-align:left">' + animal.ear_tag + '</tr></th>';
                            } else {
                                if (null != animal.birth_date) {
                                    calfs += '<tr><th style="text-align:left">' + animal.ear_tag + '</th>';
                                    calfs += '<th style="text-align:left">' + animal.birth_date + '</th>';
                                    calfs += '<th style="text-align:left">' + animal.status + '</tr></th>';
                                } else {
                                    calfs += '<tr><th style="text-align:left">' + animal.ear_tag + '</th>';
                                    calfs += '<th style="text-align:left">' + animal.status + '</tr></th>';
                                }
                            }
                        });
                        calfs += '</table>';
                        $("#calf_results").prepend(calfs);
                        parents += '</table>';
                        $("#parent_results").prepend(parents);
                    });
                });
                return false;
            });

        });


    </script>
</head>
<body class="body">
<div>
    <form>
        <input id="eartag" type="text" autocomplete="off" name="eartag">
        <a href="#" id='process_eartag'>
            <button class="btn btn-default">Details</button>
        </a>
    </form>
    <p id="parent_results"></p>
    <p id="calf_results"></p>

</div>

</body>
</html>